
.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;


}

#up-arrow{
    position: absolute;
    top: 0;
    left: 50%;

}


#down-arrow{
    position: absolute;
    bottom: 5px;
    left: 50%;

}


._img{
    width: 100%;
    

}


